

{
    "presets": [
      [
        "@babel/preset-env",
        // codigo para ejecutar async/await
        {
          "targets": {
            "esmodules": true
          }
        } 
      ],
      "@babel/preset-react"
    ]
  }